header {
  position: relative;
  top: -75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  border-bottom: 2px solid #ce15f8;
  z-index: 1000;
  font-size: 20px;
  color: #fff;
  transition: transform 0.3s ease;
  padding: 20px 40px;
  overflow: hidden;
  margin-bottom: 0;
}

nav a {
  position: relative;
  top: 50px;
  text-decoration: none;
  padding: 15px 25px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.1em;
  transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
  color: rgb(195, 0, 255);
  transform: scale(1.1);
}

#marker {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 90px;
  border-bottom: 5px solid #ce15f8;
  background: linear-gradient(0deg, #ce15f837, transparent);
  transition: 0.5s;
  pointer-events: none;
  filter: drop-shadow(0 5px 25px);
}

.field {
  flex: 1;
  display: flex;
  align-items: center;
}

.field:last-child {
  justify-content: flex-end; /* Improved naming */
}

img {
  height: 7em;
  transform: translateY(35px);
}

.tools button {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid white;
  cursor: pointer;
  transform: translateY(35px);
}

.tools button span {
  font-family: 'Poppins', sans-serif; 
  font-weight: 700;
}
