.spline-scene2 {
    position: absolute;
    top: 5em;
    left: 0;
    width: 100%;
    height: calc(100% - 5em);
}
//     <Spline scene="https://prod.spline.design/6mF-EGz6mHxxDdr0/scene.splinecode" />
